<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ixalan.movieapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".presentation.SignUpActivity"></activity>
        <activity android:name=".presentation.CardPaymentActivity" />
        <activity android:name=".presentation.PaymentSuccessfulActivity" />
        <activity android:name=".presentation.PaymentOptionsActivity" />
        <activity android:name=".presentation.ViewCartActivity" />
        <activity android:name=".presentation.MovieDetailActivity" />
        <activity android:name=".presentation.MovieMerchandiseActivity" />
        <activity android:name=".presentation.BookingHistoryActivity" />
        <activity android:name=".presentation.MovieListActivity" />
        <activity android:name=".presentation.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>